@font-face {
  font-family: 'coHeadline';
  src: url('/src/style/fonts/CoHeadlineCorp-Bold.eot');
  src: url('/src/style/fonts/CoHeadlineCorp-Bold.eot?#iefix') format('embedded-opentype'),
      url('/src/style/fonts/CoHeadlineCorp-Bold.woff2') format('woff2'),
      url('/src/style/fonts/CoHeadlineCorp-Bold.woff') format('woff'),
      url('/src/style/fonts/CoHeadlineCorp-Bold.ttf') format('truetype'),
      url('/src/style/fonts/CoHeadlineCorp-Bold.svg#CoHeadlineCorp-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'coHeadline';
  src: url('/src/style/fonts/CoHeadlineCorp-Regular.eot');
  src: url('/src/style/fonts/CoHeadlineCorp-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/style/fonts/CoHeadlineCorp-Regular.woff2') format('woff2'),
  url('/src/style/fonts/CoHeadlineCorp-Regular.woff') format('woff'),
  url('/src/style/fonts/CoHeadlineCorp-Regular.ttf') format('truetype'),
  url('/src/style/fonts/CoHeadlineCorp-Regular.svg#CoHeadlineCorp-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');
